# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Debug
/x64
/Deathlord-Relorded/Debug
/Deathlord-Relorded/x64/Debug
/Deathlord-Relorded/x64/Release
/Deathlord-Relorded/Deathlord Map 00.txt
/Deathlord-Relorded/Profiles/Deathlord_Test.json
/Deathlord-Relorded/deathlordcompanion.conf
/Deathlord-Relorded/dcmarkers.data
/Deathlord-Relorded/Deathlord Charset.data
/JSON/Schemas/Catalog/https%003A%002F%002Fgo.microsoft.com%002Ffwlink%002F%003Flinkid%003D835884
